:root {
    --color-white: #f3f3f3;
    --color-black: black;
    --button-color: white;
  }
body{
    background-color:#be4749;
    font-family: "Recursive";


}

/* center main container and justify the text inside */ 
.container{
    position:relative;
    text-align: justify;
    margin: 0 auto;
    padding: 10px;
    width: 30em;
    background: var(--color-black);
    color:white;

    
}
/* center the title */ 
h1{
    text-align:center;
}

form{
    display:block;
    
    
    
}

.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: var(--button-color);
    color: black;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
    font-family: "Recursive";
  }
/* adjusts the header so it fits on the top of the container */ 
.header-img{
    white-space: nowrap;
    overflow: hidden;
    position:relative;
    margin: 0 auto;
    text-align:center;
    display:flex;
    width: 31.25em;
    color:white;
    
     
  }
/* removes pointer events on the header so the user can't click on it. Avoids minor issues with the header (especially on mobile) */ 
img{
    pointer-events: none;
}
input[type=email]{
      display: inline-block;
      margin-top: 10px;
      width: 85%;
  }
input[type=number]{
    display: inline-block;
    margin-top: 10px;
    width: 100%;
}
input[type=text]{
    display: inline-block;
    margin-top: 10px;   
    width: 70%; 
}
select{
    display: inline-block;
    margin-top: 10px;    
}
.textarea{
    display: inline-block;  
    
}
label{
    display: inline-block;
    
}
.sing{
    margin-top: 10px;
}
.radio-input{
    display: inline-block;
}
